<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movies</title>
</head>

<body>
    <h1>Movie:</h1>
        {% for movie in movies %}
            <h3>{{ movie.movie_title}}  :  {{movie.release_date }}</h3>
        {% endfor %}

    <h1>Average Rating:</h1>
            <h3>{{ average.avg_rating }}</h3>
    <p></p>
        {% for rating in ratings %}
            <span>Rater:  </span> <a href="/raters/{{ rating.user_id }}/">{{ rating.user_id }}</a>
            <div>Rating: {{ rating.rating }}</div>
           <p></p>
        {% endfor %}


</body>
</html>