<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Raters</title>
</head>

<body>
    <h1>Rater:</h1>
        {% for rater in raters %}
            <div>Age: {{ rater.age }}</div>
            <div>Gender: {{ rater.gender }}</div>
            <div>Occupation: {{ rater.occupation }}</div>
            <div>Zipcode: {{ rater.zipcode }}</div>
        {% endfor %}

    <h1>Rating:</h1>
        {% for rating in ratings %}
            <span>Movie: </span> <a href="/movies/{{ rating.item_id }}/">{{ rating.item_id.movie_title }}</a>
            <div>Rating: {{ rating.rating }}</div>
            <p></p>
        {% endfor %}
</body>
</html>