<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movies</title>
</head>

<body>
    <p>Movie:</p>
        {% for movie in movies %}
            <div>{{ movie.movie_title}}  :  {{movie.release_date }}</div>
        {% endfor %}

    <p>Average Rating:</p>
            <div>{{ average }}</div>
    <p></p>
        {% for rating in ratings %}
            <div>Rater: {{ rating.user_id }} </div> <a href="/raters/{{ rating.user_id }}/">User Page</a>
            <div>Rating: {{ rating.rating }}</div>
           <p></p>
        {% endfor %}


</body>
</html>