<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Raters</title>
</head>

<body>
    <p>Rater:</p>
        {% for rater in raters %}
            <div>Age: {{ rater.age }}</div>
            <div>Gender: {{ rater.gender }}</div>
            <div>Occupation: {{ rater.occupation }}</div>
            <div>Zipcode: {{ rater.zipcode }}</div>
        {% endfor %}

    <p>Rating:</p>
        {% for rating in ratings %}
            <div>Movie: {{ rating.item_id }}</div>
            <div>Rating: {{ rating.rating }}</div>
        {% endfor %}
</body>
</html>